<h3 class="pts-h3">{{ heading_title }}</h3>
<div class="row">
<div id="carousel_latest" class="owl-carousel">
   {% for product in products %}
  <div class="item text-center">
  <div class="pts-product-layout" style="padding:10px;">
    <div class="pts-product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="pts-caption" style="min-height:auto !important">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
           {{ else }}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
         {% endfor %}
        </div>
       {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
			{{ product.price }}
			{% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
         {% endif %}
           {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
           {% endif %}
        </p>
       {% endif %}
      </div>
     <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs1 hidden-sm1 hidden-md1">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  </div>
 {% endfor %}
</div>
</div>
<script type="text/javascript"><!--
$('#carousel_latest').owlCarousel({
	items: 4,
	autoPlay: 3000,
	margin:10,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
	pagination: true
});
--></script>