<div class="main-compare">
<div class="pts-border-grey">
	<label class="seller-heading-compare">{{ text_seller_price }}</label>
 {% for template_price in template_prices %}
	<div class="pts-px-1 bg-strip">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-9">
					<h5 class="m-0" style="margin:0;font-size:14px;">
						<span>{{ template_price.store_name }}</span>
					</h5>
				</div>
				<div class="col-md-3">
					<a><img src={{ template_price.store_logo }} class="img-fluid img-responsive"></a>
				</div>
				<div class="col-md-12 text-left">
					<div class="row">
						<div class="price-new compare-pts-star">
							<div class="">
								<label><i class="fa fa-doller"></i>{{ template_price.price }}</label>
							</div>
							
							
						
							<div class="">				
							{% for i in 1..5 %}
							  {% if template_price.rating < i %}
							 <i class="fa fa-star-o"></i>
							  {% else %}							 
							  <i class="fa fa-star"></i>
							  {% endif %}
							 {% endfor %}
							</div>
						 
							
							<div class="">
								<button class="pts-btn pts-btn-primary" onclick="addcartseller('{{ template_price.seller_id }}');" style="border-radius:0px;padding:2px"><i class="fa fa-shopping-cart"></i> {{ button_add_cart }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

	
</div>

</div>

<style>
	.main-compare{margin-bottom:15px;}
	.pts-border-grey{
		border:1px solid #ddd;
		background:#fff;
	}
	.pts-px-1{
		padding:8px 0px;
		border-bottom: 1px solid #eee;
	}
	.main-compare .seller-heading-compare{
		margin-top:0px;
		margin-bottom:0px;
		padding:2px 10px;
		background:#337ab7;
		color:#fff;
		font-size:18px;
		width:100%
	}
	.price-new label{
		font-size: 16px;
		color: red;
		line-height:1 !important
	}
	.bg-strip:nth-last-child(2n+1){
		background:#e5f3ff;
	}
	.pl-0{padding-left:0 !important}
	.mt-2{margin-top:5px}
	.compare-pts-star{padding:8px 0px;display: flex;justify-content: space-between;padding:10px 12px;line-height: 2;}
	.compare-pts-star i{font-size:12px !important}
	.cart-btn-compare{background:transparent;border:none;color:#337ab7}
	.cart-btn-compare .fa::before{font-size:18px;}
</style>
 {% if module_purpletree_multivendor_seller_product_template %}
<script>
function addcartseller(sellerid){
//alert(productis);
//
	$.ajax({
		url: 'index.php?route=checkout/cart/add&seller_id='+sellerid,
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
//
	
} 
</script>
{% endif %}
