<div class="checkout-content checkout-payment-methods">
  {% if error_warning %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  {% if payment_methods %}
    <h2 class="secondary-title">{{ journal2.settings.get('one_page_lang_payment_method', 'Payment Method') }}</h2>
    {% for payment_method in payment_methods %}
      <div class="radio">
        <label>{% if payment_method.code == code or not code %}
            {% set code = payment_method.code %}
            <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked"/>
          {% else %}
            <input type="radio" name="payment_method" value="{{ payment_method.code }}"/>
          {% endif %}
          {{ payment_method.title }}
          {% if payment_method.terms %}
            ({{ payment_method.terms }})
          {% endif %} </label>
      </div>
    {% endfor %}
  {% endif %}
</div>
