{{ header }}
<div id="container" class="container j-container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}{{ column_right }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2 class="secondary-title">{{ heading_title }}</h2>
      {% if downloads %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <td class="text-right">{{ column_order_id }}</td>
              <td class="text-left">{{ column_name }}</td>
              <td class="text-left">{{ column_size }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td></td>
            </tr>
            </thead>
            <tbody>

            {% for download in downloads %}
              <tr>
                <td class="text-right">{{ download.order_id }}</td>
                <td class="text-left">{{ download.name }}</td>
                <td class="text-left">{{ download.size }}</td>
                <td class="text-left">{{ download.date_added }}</td>
                <td><a href="{{ download.href }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-primary button"><i class="fa fa-cloud-download"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary button">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
  </div>
</div>
{{ footer }}
