{{ header }}
<div id="container" class="container j-container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}{{ column_right }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <h1 class="heading-title">{{ heading_title }}</h1>
      {{ content_top }}
      <div class="content">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
            <legend>{{ text_password }}</legend>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
              <div class="col-sm-10">
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                {% if error_password %}
                  <div class="text-danger">{{ error_password }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
              <div class="col-sm-10">
                <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
                {% if error_confirm %}
                  <div class="text-danger">{{ error_confirm }}</div>
                {% endif %}
              </div>
            </div>
          </fieldset>
          <div class="buttons clearfix">
            <div class="pull-left"><a href="{{ back }}" class="btn btn-default button">{{ button_back }}</a></div>
            <div class="pull-right">
              <input type="submit" value="{{ button_continue }}" class="btn btn-primary button"/>
            </div>
          </div>
        </form>
      </div>
      {{ content_bottom }}</div>
  </div>
</div>
{{ footer }}
